.git
.gitignore
**/__pycache__
**/*.pyc
**/.pytest_cache
**/.mypy_cache
**/node_modules
frontend/.next
frontend/android/build
frontend/android/.gradle
frontend/android/capacitor-cordova-android-plugins
uploads/*
!uploads/.gitkeep
README_space_notes.md
