frontend/public/images/skin-conditions/*.png filter=lfs diff=lfs merge=lfs -text
frontend/public/logo2.png filter=lfs diff=lfs merge=lfs -text
frontend/assets/*.png filter=lfs diff=lfs merge=lfs -text
frontend/android/**/*.png filter=lfs diff=lfs merge=lfs -text
frontend/public/logo* filter=lfs diff=lfs merge=lfs -text
**/*.png filter=lfs diff=lfs merge=lfs -text
**/*.jpg filter=lfs diff=lfs merge=lfs -text
**/*.ico filter=lfs diff=lfs merge=lfs -text
frontend/android/app/src/main/res/**/splash.png -filter -diff -merge -text
frontend/android/app/src/main/res/**/ic_launcher*.png -filter -diff -merge -text
